<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wereh.academytraining">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".apresentacao.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apresentacao.GruposMuscularesListaActivity"
            android:label="@string/title_activity_grupos_musculares"
            android:launchMode="singleTop"
            android:parentActivityName=".apresentacao.AdicionarTreinoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apresentacao.ExerciciosListaActivity"
            android:label="@string/title_activity_exercicios_lista"
            android:launchMode="singleTop"
            android:parentActivityName=".apresentacao.GruposMuscularesListaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apresentacao.ExercicioDetalhesActivity"
            android:label="@string/title_activity_exercicios_detalhes"
            android:parentActivityName=".apresentacao.ExerciciosListaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apresentacao.AdicionarTreinoActivity"
            android:label="@string/title_activity_ficha_de_treino"
            android:launchMode="singleTop"
            android:parentActivityName=".apresentacao.DadosPlanejamentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".apresentacao.TreinoDetalhesActivity"
            android:label="@string/title_activity_treino_detalhes"
            android:parentActivityName=".apresentacao.DadosPlanejamentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".apresentacao.DadosPlanejamentoActivity"
            android:label="@string/title_activity_dados_treino"
            android:launchMode="singleTop"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.UsuarioActivity"
            android:label="@string/title_activity_usuario"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AdicionarUsuario"
            android:label="@string/title_activity_adicionar_usuario"
            android:parentActivityName=".apresentacao.UsuarioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.UsuarioActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AdicionarPlanejamento"
            android:label="@string/title_activity_adicionar_planejamento"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.PlanejamentoListaActivity"
            android:label="@string/title_activity_planejamento_listagem"
            android:parentActivityName=".apresentacao.AdicionarTreinoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.AdicionarTreinoActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AdicionarExercicioActivity"
            android:label="@string/title_activity_adicionar_exercicio"
            android:parentActivityName=".apresentacao.ExerciciosListaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.ExerciciosListaActivity" />
        </activity>
        <activity
            android:name=".apresentacao.GruposAlimentaresListaActivity"
            android:label="@string/title_activity_grupos_alimentares_lista"
            android:parentActivityName=".apresentacao.AlimentacaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.AlimentacaoActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AlimentosListaActivity"
            android:label="@string/title_activity_alimentos_lista"
            android:parentActivityName=".apresentacao.GruposAlimentaresListaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.GruposAlimentaresListaActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AlimentosConsumidosLista"
            android:label="Alimentos Consumidos"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AdicionarAlimentoConsumidos"
            android:label="@string/title_activity_adicionar_alimento_consumo"
            android:parentActivityName=".apresentacao.AlimentosListaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.AlimentosListaActivity" />
        </activity>
        <activity
            android:name=".apresentacao.TiposAlimentares"
            android:label="@string/title_activity_tipos_alimentares"
            android:parentActivityName=".apresentacao.AlimentacaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".apresentacao.AnaliseImc"
            android:label="@string/title_activity_analise_imc"
            android:parentActivityName=".apresentacao.UsuarioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.UsuarioActivity" />
        </activity>
        <activity
            android:name=".apresentacao.ContadorTreino"
            android:label="@string/title_activity_contador_treino"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>

        <service
            android:name=".services_receivers.Servico"
            android:exported="false"
            android:label="Servico">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="SERVICE_TEST" />
            </intent-filter>
        </service>

        <activity
            android:name=".apresentacao.AlimentacaoActivity"
            android:label="@string/title_activity_alimentacao"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>

        <receiver
            android:name=".services_receivers.HorarioFixoBootReceiver"
            android:label="BroadCastReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="LEMBRETE_CONSUMO_ALIMENTAR_FIXO" /> <!-- a cada 3 hrs dps q o celular rebootar -->
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services_receivers.NotifyUserReceiver"
            android:label="BroadCastReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="LEMBRETE_CONSUMO_ALIMENTAR_USUARIO_DISPARADO" /> <!-- de acordo com o horario definido pelo usuário -->
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services_receivers.NotifyHorarioFixoReceiver"
            android:label="BroadCastReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="LEMBRETE_CONSUMO_ALIMENTAR_FIXO" /> <!-- a cada 3 hrs -->

            </intent-filter>
        </receiver>
        <receiver
            android:name=".services_receivers.NotifyHorarioFixoAguaReceiver"
            android:label="BroadCastReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="LEMBRETE_CONSUMO_AGUA" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".apresentacao.AlertasActivity"
            android:label="@string/title_activity_alertas"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.ConfigurarAlarmeActivity"
            android:label="@string/title_activity_configurar_alarme"
            android:parentActivityName=".apresentacao.AlertasActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.AlertasActivity" />
        </activity>
        <activity
            android:name=".apresentacao.DetalhesConsumoAguaActivity"
            android:label="@string/title_activity_detalhes_consumo_agua"
            android:parentActivityName=".apresentacao.AlertasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.AlertasActivity" />
        </activity>
        <activity
            android:name=".apresentacao.SuplementosActivity"
            android:label="@string/title_activity_suplementos"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AdicionarSuplemento"
            android:label="@string/title_activity_adicionar_suplemento"
            android:parentActivityName=".apresentacao.SuplementosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.SuplementosActivity" />
        </activity>
        <activity
            android:name=".apresentacao.MedidasCorporaisActivity"
            android:label="@string/title_activity_medidas_corporais"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.GraficoMedidasActivity"
            android:label="@string/title_activity_grafico_medidas"
            android:parentActivityName=".apresentacao.MedidasCorporaisActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.MedidasCorporaisActivity" />
        </activity>
        <activity
            android:name=".apresentacao.SistemasdeTreinoActivity"
            android:label="@string/title_activity_sistemasde_treino"
            android:screenOrientation="portrait"
            android:parentActivityName=".apresentacao.SistemasDeTreinoListaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.SistemasDeTreinoListaActivity" />
        </activity>
        <activity
            android:name=".apresentacao.SistemasDeTreinoListaActivity"
            android:label="@string/title_activity_sistemas_de_treino_lista"
            android:screenOrientation="portrait"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.ProtocolosHiitActivity"
            android:label="@string/title_activity_protocolos_hiit"
            android:screenOrientation="portrait"
            android:parentActivityName=".apresentacao.ProtocolosHiitListaActiivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.ProtocolosHiitListaActiivity" />
        </activity>
        <activity
            android:name=".apresentacao.ProtocolosHiitListaActiivity"
            android:label="@string/title_activity_protocolos_hiit_lista_actiivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".apresentacao.DadosPlanejamentoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.DadosPlanejamentoActivity" />
        </activity>
    </application>

</manifest>