<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wereh.academytraining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".apresentacao.HomeActivity"
            android:label="@string/app_name">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apresentacao.GruposMuscularesListaActivity"
            android:label="@string/title_activity_grupos_musculares"
            android:launchMode="singleTop"
            android:parentActivityName=".apresentacao.AdicionarTreinoActivity" />
        <activity
            android:name=".apresentacao.ExerciciosListaActivity"
            android:label="@string/title_activity_exercicios_lista"
            android:launchMode="singleTop"
            android:parentActivityName=".apresentacao.GruposMuscularesListaActivity" />
        <activity
            android:name=".apresentacao.ExercicioDetalhesActivity"
            android:label="@string/title_activity_exercicios_detalhes"
            android:parentActivityName=".apresentacao.ExerciciosListaActivity" />
        <activity
            android:name=".apresentacao.AdicionarTreinoActivity"
            android:label="@string/title_activity_ficha_de_treino"
            android:launchMode="singleTop"
            android:parentActivityName=".apresentacao.DadosPlanejamentoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".apresentacao.TreinoDetalhesActivity"
            android:label="@string/title_activity_treino_detalhes"
            android:parentActivityName=".apresentacao.DadosPlanejamentoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".apresentacao.DadosPlanejamentoActivity"
            android:label="@string/title_activity_dados_treino"
            android:launchMode="singleTop"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.UsuarioActivity"
            android:label="@string/title_activity_usuario"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AdicionarUsuario"
            android:label="@string/title_activity_adicionar_usuario"
            android:parentActivityName=".apresentacao.UsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.UsuarioActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AdicionarPlanejamento"
            android:label="@string/title_activity_adicionar_planejamento"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.PlanejamentoListaActivity"
            android:label="@string/title_activity_planejamento_listagem"
            android:parentActivityName=".apresentacao.AdicionarTreinoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.AdicionarTreinoActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AdicionarExercicioActivity"
            android:label="@string/title_activity_adicionar_exercicio"
            android:parentActivityName=".apresentacao.ExerciciosListaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.ExerciciosListaActivity" />
        </activity>
        <activity
            android:name=".apresentacao.GruposAlimentaresListaActivity"
            android:label="@string/title_activity_grupos_alimentares_lista"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AlimentosListaActivity"
            android:label="@string/title_activity_alimentos_lista"
            android:parentActivityName=".apresentacao.GruposAlimentaresListaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.GruposAlimentaresListaActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AlimentosConsumidosLista"
            android:label="Alimentos Consumidos"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".apresentacao.AdicionarAlimentoConsumidos"
            android:label="@string/title_activity_adicionar_alimento_consumo"
            android:parentActivityName=".apresentacao.AlimentosListaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.AlimentosListaActivity" />
        </activity>
        <activity
            android:name=".apresentacao.GraficoConsumoAlimData"
            android:label="@string/title_activity_grafico_consumo_alim_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".apresentacao.TiposAlimentares"
            android:label="@string/title_activity_tipos_alimentares"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".apresentacao.FontesReferencias"
            android:label="@string/title_activity_fontes_referencias"
            android:parentActivityName=".apresentacao.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.HomeActivity" />
        </activity>
        <activity
            android:name=".AnaliseImc"
            android:label="@string/title_activity_analise_imc"
            android:parentActivityName=".apresentacao.UsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wereh.academytraining.apresentacao.UsuarioActivity" />
        </activity>
    </application>

</manifest>